### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [113]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [114]:
#Displaying the columns and values of the dataframe
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [115]:
#Calculating number of players using the length of the name column using valuecount() and displaying the same.
total_players = len(purchase_data['SN'].value_counts())
Total_players = pd.DataFrame({"Total Players": [total_players]})
Total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [116]:
#Unique items for the column, Item ID
no_of_unique_items = len(purchase_data['Item ID'].unique())
#Average price of the purchases
average = purchase_data['Price'].mean()
#Number of purchases
purchases = len(purchase_data['Purchase ID'])
#Total revenue from the sales
revenue = purchase_data['Price'].sum()
#Sumamry dataframe from the above calculations
summary_df = pd.DataFrame({'Number of Unique Items': [no_of_unique_items],
                           'Average Price': [average],
                           'Number of Purchases': [purchases],
                           'Total Revenue': [revenue]})
#Formatting the results
summary_df['Average Price']= summary_df['Average Price'].map("${:.2f}".format)
summary_df['Total Revenue']= summary_df['Total Revenue'].map("${:,.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [117]:
#Identifying the unique items in the 'Gender' column
purchase_data.head()
purchase_data['Gender'].unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [137]:
#Caluclations for the count and percentages
male_players = purchase_data.loc[purchase_data['Gender']=='Male',:]
male_count = len(male_players['SN'].unique())
female_players = purchase_data.loc[purchase_data['Gender']=='Female',:]
female_count = len(female_players['SN'].unique())
other_players = purchase_data.loc[purchase_data['Gender']=='Other / Non-Disclosed',:]
other_count = len(other_players['SN'].unique())
total_count = male_count+female_count+other_count
male_player_perc = ((male_count/total_count)*100)
female_player_perc = ((female_count/total_count)*100)
other_player_perc = ((other_count/total_count)*100)

#Sumamry dataframe from the above calculations
summ_df = pd.DataFrame({'Gender': ['Male','Female','Other / Non-Disclosed'],
                           'Total Count': [male_count, female_count, other_count],
                           'Percentage of players': [male_player_perc, female_player_perc, other_player_perc]}) 
#Formatting the results
s_df= summ_df.set_index('Gender')   
s_df['Percentage of players']= s_df['Percentage of players'].map("{:,.2f}%".format)
s_df

                       Total Count Percentage of players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [138]:
#Purchase count calculations
male_purchase = male_players['Purchase ID'].count()
female_purchase = female_players['Purchase ID'].count()
other_purchase = other_players['Purchase ID'].count()
#Average purchase price calculations
male_avg_purchase = male_players['Price'].mean()
female_avg_purchase = female_players['Price'].mean()
other_avg_purchase = other_players['Price'].mean()
other_avg_purchase
#Total purchase value calculations
male_total_purchase = male_players['Price'].sum()
female_total_purchase = female_players['Price'].sum()
other_total_purchase = other_players['Price'].sum()
other_total_purchase
#Average total purchase per person calculations
male_avg_total_purchase = male_total_purchase/male_count
female_avg_total_purchase = female_total_purchase/female_count
other_avg_total_purchase = other_total_purchase/other_count
#Sumamry dataframe from the above calculations
su_df = pd.DataFrame({'Gender': ['Female','Male','Other / Non-Disclosed'],
                      'Purchase Count': [female_purchase, male_purchase, other_purchase],
                      'Average Purchase Price': [female_avg_purchase, male_avg_purchase, other_avg_purchase],
                      'Total Purchase Value':[female_total_purchase, male_total_purchase, other_total_purchase],
                      'Avg Total Purchase per Person':[female_avg_total_purchase, male_avg_total_purchase, other_avg_total_purchase]}) 
#Formatting the results
sy_df= su_df.set_index('Gender')   
sy_df['Average Purchase Price']= sy_df['Average Purchase Price'].map("${:,.2f}".format)
sy_df['Total Purchase Value']= sy_df['Total Purchase Value'].map("${:,.2f}".format)
sy_df['Avg Total Purchase per Person']= sy_df['Avg Total Purchase per Person'].map("${:,.2f}".format)
sy_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [142]:
#Creating bins in which data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 44]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
#Categorizing the existing players using age bins
purchase_data['Age category'] = pd.cut(purchase_data['Age'], bins, labels=group_names, include_lowest=True)
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age category
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame